.hero{
    margin: 0;
    padding: 0;
    background-image: url('../photos/home.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero_title span{
    color: white;
    font-size: 80px;
    letter-spacing: normal;
}
.hero_title {
    text-align: center;
    margin-top: 280px;
}
@media screen and (max-width: 768px) {
    .hero_title span {
        font-size: 55px;
    }
    .hero_title {
        padding-left: 8px;
        padding-right: 8px;
    }
}
